

/*Universal Styles*/

body, a {
  font-family: "Helvetica", serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;
}

body {
  position: relative;
  top: 55px;
}



/*header section -- Navigation Menu*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  background-color: black;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

.headerlinks {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}



/* Main Section -- Mission Block*/

.main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2px;
}

#mission {
  height: 700px;
  width: 1200px;
  background-image: url("../images/mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.missiontext {
  width: 1200px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: -20px;
  margin-bottom: -20px;
}



/* Main Section -- Featured Tea Block*/

#featured {
  width: 1000px;
  height: 675px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.block1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 260px;
}

.block1 img{
  height: 200px;
  width: 300px;
}

.blocktext {
  width: 1000px;
}

.imgtitles {
  margin-top: 10px;
}

.left2 {
  margin-left: 165px;
}

.right2 {
  margin-right: 165px;
}

/* Main Section -- Locations*/

#locations {
  width: 1200px;
  height: 500px;
  background-image: url("../images/locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.imgblocks2 {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin-bottom: 20px;
}

.block2 {
  width: 300px;
  height: auto;
  background-color: black;
  opacity: 1;
}

.loctext {
  margin-bottom: 15px;
}



/* Main Section -- Contact*/

.contact h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}



/*Footer - Copyrigh Section*/
